#stepper
{
    width: 80%;
    margin:auto;
    background-color:#eee ;
    border-radius:50px; ;
   
}

.mat-horizontal-stepper-header-container
{
    background-color: #007b5e;
}

mat-form-field
{
    width: 350px;
    margin-right: 30px;
}

button {

    margin-right: 3px;
}

.userRegistration { 
    min-height: 67%;
    margin-top: 70px;
    margin-bottom: 0px;

}