
 <div class=" mt-5 userRegistration">
    <div class="row">
      
      <mat-horizontal-stepper [linear]="isLinear" #stepper id="stepper">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup" class="col-md-12 mt-3">
            <ng-template matStepLabel>Basic Details</ng-template>
             
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Name" formControlName="first_name"  required>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Name" formControlName="last_name" required>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="Description" formControlName="address" required>
                </textarea>
              </mat-form-field>
             
              <mat-form-field>
                <mat-label>Description</mat-label>
                <!-- <input matInput placeholder="Description" formControlName="description" required> -->
                <textarea matInput placeholder="Description" formControlName="email" required>
                </textarea>
              </mat-form-field>
        
            <div>
              <button mat-button matStepperNext class="btn btn-primary">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup" class="mt-3">
            <ng-template matStepLabel>Amount & Stock</ng-template>
            <mat-form-field>
              <mat-label>Initail Amount</mat-label>
              <input matInput placeholder="Amount" formControlName="amount" required>
            </mat-form-field>
            
          
            <mat-form-field>
              <mat-label>Total Amount</mat-label>
              <input matInput placeholder="Amount" formControlName="totalamount" required>
            </mat-form-field>
            
         

            <mat-form-field appearance="fill">
              <mat-label>Stock Categry</mat-label>
              <mat-select  formControlName="stock">
                <mat-option *ngFor="let food of stockCategory" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Stock Item</mat-label>
              <mat-select  formControlName="stockItem">
                <mat-option *ngFor="let food of stockItems" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
        
            <div>
              <button mat-button matStepperPrevious class="btn btn-primary">Back</button>
              <button mat-button matStepperNext class="btn btn-outline-primary">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup" class="mt-3">
            <ng-template matStepLabel>Vendor Details</ng-template>
            <mat-form-field>
              <mat-label>Vendor Name</mat-label>
              <input matInput placeholder="Vendor" formControlName="vendor" required>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label>Vendor Address</mat-label>
              <input matInput placeholder="Address" formControlName="address" >
            </mat-form-field>
            <br/>
            <div>
              <button mat-button matStepperPrevious class="btn btn-primary">Back</button>
              <button mat-button matStepperNext class="btn btn-outline-primary">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
        
          <mat-list>
         <mat-list-item> <strong>Name:</strong> {{ this.firstFormGroup.value.name }}</mat-list-item>
         <mat-list-item> <strong>Description:</strong> {{ this.firstFormGroup.value.description }}</mat-list-item>
         <mat-list-item> <strong>Amount:</strong> {{ this.secondFormGroup.value.amount }}</mat-list-item>
         <mat-list-item> <strong>Total Amount:</strong> {{ this.secondFormGroup.value.totalamount }}</mat-list-item>
         <mat-list-item> <strong>Stock Category:</strong> {{ this.secondFormGroup.value.stock }}</mat-list-item>
         <mat-list-item> <strong>Stock Item:</strong> {{ this.secondFormGroup.value.stockItem }}</mat-list-item>
         <mat-list-item> <strong>Vendor:</strong> {{ this.thirdFormGroup.value.vendor }}</mat-list-item>
         <mat-list-item> <strong>Address Item:</strong> {{ this.thirdFormGroup.value.address }}</mat-list-item>
        </mat-list>
        
          <div>
            <button mat-button matStepperPrevious class="btn btn-primary">Back</button>
            <button mat-button (click)="stepper.reset()" class="btn btn-outline-primary">Reset</button>
            <button mat-button (click)="submit()" class="btn btn-primary">Submit</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
 </div>