#stepper
{
    width: 90%;
    margin:auto;
    background-color:#eee ;
    border-radius:50px; 
    /* transition:ease-in;
    transition-duration: 70000ms;
    transition-delay: 500ms; */
   
}

.mat-horizontal-stepper-header-container
{
    background-color: #007b5e;
}

mat-form-field
{
    width: 33%;
    margin-right: 30px;
}

button {

    margin-right: 3px;
}

.userRegistration { 
    min-height: 66%;
    margin-top: 70px;
    margin-bottom: 0px;


}

button 
{
    background-color: #007b5e;
    color: white;
 border-radius: 20px;

}

button:hover
{
 background-color: white;
 color: #007b5e;
 border: 1px solid #007b5e;
}

.swal2-styled.swal2-confirm {
    background-color: #007b5e;
      color: white;
   border-radius: 20px;
  }

  .swal2-confirm {
    background-color: #007b5e;
      color: white;
   border-radius: 20px;
  }

  .swal2-styled
{
  background-color: #007b5e;
  color: white;
border-radius: 20px;
}