

<div id="userDetail">
    <h3 id="headerHiding">
        User Details
    </h3>
    <div class="row" id="detailsDiv">
        <div class="col-md-6 col-sm-12" id="ImageDiv">
            <img src={{User.avatar}} alt="user picture" class="rounded-circle">
        </div>
        <div class="col-md-6 col-sm-12" class="details">
            <table>
                   <tr>
                       <th>First Name</th>
                       <td>{{User.first_name}}</td>
                   </tr>
                   <tr>
                    <th>Last Name</th>
                    <td>{{User.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{User.email}}</td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td>Sotware Engineering</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>Principle Software Engineer</td>
                    </tr>
                    <tr>
                        <th>Experience</th>
                        <td>9.8 years</td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>4.7/5</td>
                    </tr>
                    <tr>
                        <th>Employee Of Month</th>
                        <td>7 times</td>
                    </tr>
                    <tr>
                        <th>Achievemnets</th>
                        <td>Google Certified DEV</td>
                    </tr>
              
            </table>
        </div>
    </div>
</div>