

<div id="userDetail">
    <h5 id="headerHiding">
        User Details
    </h5>
    <div class="row" id="detailsDiv">
        <div class="col-md-6">
            <img src="https://reqres.in/img/faces/2-image.jpg" alt="user picture" class="rounded-circle">
        </div>
        <div class="col-md-6">
            <table>
                   <tr>
                       <th>First Name</th>
                       <td>Janeet</td>
                   </tr>
                   <tr>
                    <th>Last Name</th>
                    <td>Waves</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>janeetwaves@google.com</td>
                    </tr>
              
            </table>
        </div>
    </div>
</div>