

h1
{
    text-align: center;
    margin-top: 50px;
}

/* h3{
    margin-left: 135px;
} */

#stepper
{
    width: 80%;
    margin:auto;
   
}

mat-form-field
{
    width: 350px;
    margin-right: 30px;
}

button {

    margin-right: 3px;
}


.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .flex > div {
    margin: 0 1rem 2rem 1rem;
    text-align: center;
  }
  
  img {
    display: inline-block;
    max-width: 100%;
  }
  