/* You can add global styles to this file, and also import other style files */
/* 
@import url("../node_modules/font-awesome/css/font-awesome.min.css"); */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;overflow-y:auto;/* background-color: #D3D3D3;*/ overflow-x: hidden; }

.dataTables_wrapper
{
  width: 100%;
  margin-top: 10px;
}

.dataTables_filter > label > input
{
  border-radius: 50%;
}
 
.mat-horizontal-stepper-header-container
{
    background-color: #007b5e;
    
}

.mat-horizontal-stepper-header-container{
  border: rgb(red, green, blue);
}

.mat-step-icon {
  background-color: red;
  border-radius: 50px;;
}

.mat-stepper-horizontal-line{

  background-color: white;
}


.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #df1c0e;
  color: #fff;
  opacity: 0.8;
}


button 
{
    background-color: #007b5e;
    color: white;
 border-radius: 20px;

}


.swal2-confirm {
  background-color: #007b5e;
    color: white;
 border-radius: 20px;
}

.swal2-styled
{
  background-color: #007b5e;
  color: white;
border-radius: 20px;
}


.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled=false] {
	background-color: rgb(129, 116, 116,0.7)
}



.mat-step-text-label {
  color: white;
}

.mat-step-text-label.cdk-program-focused{
  color: black;
}